.document-list-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.document-header {
  height: 20%;
  min-height: 165px;
}

.document-list {
  overflow-y: scroll;
  max-height: 60%;
  min-height: 60px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 3px;
  padding: 0 20px 0 20px;
  margin-bottom: 5px;
}

.document-share {
  height: 20%;
  min-height: 150px;
}

//min page height 375px
