@eggshell: #F7FAFA;
@darkblue: #00003B;
@lightgreen: #C1EAAE;
@pastelblue: #A5CCCC;
@red: #CC3026;
@lightgray: #EDEDED;
@gray: #BCBCBC;

body {
  font-family: 'Avenir Next', sans-serif;
  background-color: @eggshell;
  color: @darkblue;
  margin: 0;
}

// REGISTER PAGE
.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .register-wrapper {
    border: 4px solid white;
    position: relative;
    padding: 20px;
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-style;
  .button-styles;
}

// LOGIN PAGE
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .login-wrapper {
    border: 4px solid white;
    position: relative;
    padding: 20px;
    width: 400px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-style;
  .button-styles;
}

// EDIT DOCUMENT PAGE
.editor-page {
  background-color: white;
  .document-title {
    font-size: 24px;
    background-color: white;
    padding-left: 75px;
  }
  .document-return {
    padding: 13px;
    background-color: @pastelblue;
    color: white;
    height: 32px;
    transition: 0.3s;
  }
  .document-return:hover {
    background-color: @pastelblue - #222;
  }

}

// REVISION HISTORY PAGE STYLING
.revision-history-page {
  padding: 50px;
  .button-styles;
  .revision-editor {
    background-color: white;
    padding: 40px;
    border: 1px solid @eggshell - #111;
    transition: 0.5s;
    border-radius: 1px;
  }
  .revision-editor:hover {
    border: 1px solid @eggshell - #444;
  }
  .history-list {
    overflow: scroll;
    height: 30vh;
    padding: 0px 10px;
    border: 1px solid  @eggshell - #111;
  }
  .history-list div {
    background-color: @red + #787;
    color: white;
    margin-top: 14px;
    border-radius: 5px;
    padding: 5px 15px;
    transition: 1s;
    text-align: center;
  }
  .history-list div:hover {
    background-color: @red + #9A9;
  }
  button {
    width: 48%;
    margin: 1%;
  }
  .changes-view {
    font-size: 14px;
    background-color: white;
    padding: 20px 0px;
    border: 1px solid @eggshell - #111;
    .added-line {
      padding: 0px 20px;
      background-color: @lightgreen + #111;
      color: @lightgreen - #999;
    }
    .removed-line {
      padding: 0px 20px;
      background-color: @red + #999;
      color: @red - #333;
    }
    .not-changed-line {
      padding: 0px 20px;
    }
  }
}

// BUTTON STYLES
.button-styles {
  .green-button {
    transition: 0.4s;
    background-color: @lightgreen;
    color: white;
  }
  .blue-button {
    transition: 0.4s;
    background-color: @pastelblue;
    color: white;
  }
  .red-button {
    transition: 0.4s;
    background-color: @red + #444;
    color: white;
  }
  .red-button:hover {
    background-color: @red + #222;
  }
  .green-button:hover {
    background-color: @lightgreen - #111;
  }
  .blue-button:hover {
    background-color: @pastelblue - #111;
  }
  .red-button:hover:active {
    background-color: @red + #111;
  }
  .green-button:active {
    background-color: @lightgreen - #222;
  }
  .blue-button:active {
    background-color: @pastelblue - #222;
  }
  button {
    width: 100%;
    padding: 8px 5px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: @pastelblue;
    color: white;
    transition: 0.4s;
  }
  button:hover {
    background-color: @pastelblue - #111;
  }
  button:focus {
    outline: none;
  }
  button:active {
    background-color: @pastelblue - #222;
  }
}

// FORM STYLES
.form-style {
  form {
    width: 100%;
    font-size: 16px;
    width: 400px;
    p {
      margin: 8px 0px 0px 0px;
      width: 100%;
      display: inline-block;
    }
    input {
      width: 94%;
      display: inline-block;
      padding: 8px 3%;
      border: 1px solid @eggshell - #111;
      font-size: 16px;
    }
    input:focus {
      outline: none;
      border: 1px solid @eggshell - #444;
    }
    button {
      width: 100%;
    }
  }
}

.align-left div {
  text-align: left;
}

.align-center div {
  text-align: center;
}

.alignRight div {
  text-align: right;
}
.terminal div {
  background-color: black;
  color: #23EB32;
  padding: 2px 6px;
  margin: 0px 40px;
  font-family: 'Courier';
}
.terminal div::before {
  content: '~ $ ';
}
i {
  padding: 2px;
}
.code div {
  font-family: 'Courier';
}
.headerBar {
  float: right;
  margin-right: 15px;
}
